.container{
	margin:10px 0px;
}
.tab-content{
	border-left:1px solid #dee2e6;
	border-right:1px solid #dee2e6;
	border-bottom:1px solid #dee2e6;
}
.alignRight{
	float: right;
}
.alignRight button{
	margin-left:10px;
}
.listApp{
	width:96%;
	margin: 10px auto;
	padding:2%;
}
.listApp .row{
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    padding: 20px
}